schema/jube.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- JUBE2 input file schema definition -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified">

  <!-- type definitions -->
  <xs:complexType name="benchmarkType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="comment" type="xs:string" />
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="parameterset" type="parametersetType" />
        <xs:element name="patternset" type="patternsetType" />
        <xs:element name="substituteset" type="substitutesetType" />
        <xs:element name="fileset" type="filesetType" />
        <xs:element name="step" type="stepType" />
        <xs:element name="analyzer" type="analyserType" />
        <xs:element name="analyser" type="analyserType" />
        <xs:element name="result" type="resultType" />
        <xs:element name="include" type="includeType" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="outpath" type="xs:string" use="required" />
    <xs:attribute name="file_path_ref" type="xs:string" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="parametersetType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="parameter" type="parameterType" />
      <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="init_with" type="xs:string" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="parameterType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="type" type="contentType" use="optional" />
        <xs:attribute name="mode" type="xs:string" use="optional" />
        <xs:attribute name="export" type="booleanType" use="optional" />
        <xs:attribute name="separator" type="xs:string"
          use="optional" />
        <xs:attribute name="tag" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="substitutesetType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="iofile" type="iofileType" />
      <xs:element name="sub" type="subType" />
      <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="init_with" type="xs:string" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="iofileType">
    <xs:attribute name="in" type="xs:string" use="required" />
    <xs:attribute name="out" type="xs:string" use="required" />
    <xs:attribute name="out_mode" type="outmodeType" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="subType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="source" type="xs:string" use="required" />
        <xs:attribute name="dest" type="xs:string" use="optional" />
        <xs:attribute name="tag" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="filesetType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="copy" type="fileType" />
      <xs:element name="link" type="fileType" />
      <xs:element name="prepare" type="prepareType" />
      <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="init_with" type="xs:string" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="fileType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="directory" type="xs:string"
          use="optional" />
        <xs:attribute name="name" type="xs:string" use="optional" />
        <xs:attribute name="rel_path_ref" type="relPathRefType"
          use="optional" />
        <xs:attribute name="file_path_ref" type="xs:string"
          use="optional" />
        <xs:attribute name="separator" type="xs:string" use="optional"/>  
        <xs:attribute name="tag" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="prepareType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="stdout" type="xs:string" use="optional" />
        <xs:attribute name="stderr" type="xs:string" use="optional" />
        <xs:attribute name="work_dir" type="xs:string" use="optional" />
        <xs:attribute name="tag" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="patternsetType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="pattern" type="patternType" />
      <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="init_with" type="xs:string" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="patternType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="unit" type="xs:string" use="optional" />
        <xs:attribute name="type" type="contentType" use="optional" />
        <xs:attribute name="mode" type="xs:string" use="optional" />
        <xs:attribute name="tag" type="xs:string" use="optional" />
        <xs:attribute name="default" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent> 
  </xs:complexType>
  
  <xs:simpleType name="contentType">
    <xs:restriction base="xs:string">
       <xs:enumeration value="string" />
       <xs:enumeration value="int" />
       <xs:enumeration value="float" />
    </xs:restriction>  
  </xs:simpleType>

  <xs:simpleType name="relPathRefType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="internal" />
      <xs:enumeration value="external" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="stepType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="use" type="useType" />
      <xs:element name="do" type="doType" />
      <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="iterations" type="xs:integer" use="optional" />
    <xs:attribute name="max_async" type="xs:string" use="optional" />
    <xs:attribute name="depend" type="xs:string" use="optional" />
    <xs:attribute name="work_dir" type="xs:string" use="optional" />
    <xs:attribute name="active" type="xs:string" use="optional" />
    <xs:attribute name="export" type="booleanType" use="optional" />
    <xs:attribute name="shared" type="xs:string" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="analyserType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="use" type="useType" />
      <xs:element name="analyse" type="analyseType" />
      <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="reduce" type="booleanType" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="analyseType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="file" type="analyseFileType" />
      <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="step" type="xs:string" use="required" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="analyseFileType">
    <xs:complexContent>
      <xs:extension base="stringTagType">
        <xs:attribute name="use" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="resultType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="use" type="stringTagType" />
        <xs:element name="table" type="tableType" />
        <xs:element name="syslog" type="syslogType" />
        <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="result_dir" type="xs:string" use="optional"/>
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="tableType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="column" type="columnType" />
      <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="style" type="styleType" use="optional" />
    <xs:attribute name="sort" type="xs:string" use="optional" />
    <xs:attribute name="filter" type="xs:string" use="optional" />
    <xs:attribute name="separator" type="xs:string" use="optional" />
    <xs:attribute name="transpose" type="booleanType" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="syslogType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="key" type="columnType" />
      <xs:element name="include" type="includeType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="address" type="xs:string" use="optional" />
    <xs:attribute name="host" type="xs:string" use="optional" />
    <xs:attribute name="port" type="xs:int" use="optional" />
    <xs:attribute name="format" type="xs:string" use="optional" />
    <xs:attribute name="sort" type="xs:string" use="optional" />
    <xs:attribute name="filter" type="xs:string" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="keyType">
    <xs:complexContent>
      <xs:extension base="stringTagType">
        <xs:attribute name="format" type="xs:string" use="optional" />
        <xs:attribute name="title" type="xs:string" use="optional" />
      </xs:extension> 
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="columnType">
    <xs:complexContent>
      <xs:extension base="keyType">
        <xs:attribute name="colw" type="xs:integer" use="optional" />
      </xs:extension> 
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="styleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="csv" />
      <xs:enumeration value="pretty" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="useType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="from" type="xs:string" use="optional" />
        <xs:attribute name="tag" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="doType">
    <xs:complexContent>
      <xs:extension base="stringTagType">
        <xs:attribute name="done_file" type="xs:string"
          use="optional" />
        <xs:attribute name="stdout" type="xs:string" use="optional" />
        <xs:attribute name="stderr" type="xs:string" use="optional" />
        <xs:attribute name="active" type="xs:string" use="optional" />
        <xs:attribute name="shared" type="booleanType" use="optional" />
        <xs:attribute name="work_dir" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="booleanType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="true" />
      <xs:enumeration value="false" />
      <xs:enumeration value="True" />
      <xs:enumeration value="False" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="outmodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="w" />
      <xs:enumeration value="a" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="jubeType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="include-path" type="includePathType" />
        <xs:element name="selection" type="selectionType" />
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="parameterset" type="parametersetType" />
        <xs:element name="patternset" type="patternsetType" />
        <xs:element name="substituteset" type="substitutesetType" />
        <xs:element name="fileset" type="filesetType" />
        <xs:element name="benchmark" type="benchmarkType">
          <xs:unique name="localSets">
            <xs:selector xpath="parameterset|substituteset|fileset|step" />
            <xs:field xpath="@name" />
          </xs:unique>
          <xs:unique name="localPatternsets">
            <xs:selector xpath="patternset" />
            <xs:field xpath="@name" />
          </xs:unique>
        </xs:element>
        <xs:element name="include" type="includeType" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="selectionType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="only" type="stringTagType" />
      <xs:element name="not" type="stringTagType" />
      <xs:element name="tag" type="stringTagType" />
    </xs:choice>
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="includePathType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="path" type="stringTagType" />
    </xs:choice>
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="stringTagType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tag" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="includeType">
    <xs:attribute name="from" type="xs:string" use="required" />
    <xs:attribute name="path" type="xs:string" use="optional" />
    <xs:attribute name="tag" type="xs:string" use="optional" />
  </xs:complexType>

  <!-- root-node -->
  <xs:element name="jube" type="jubeType">
    <xs:unique name="globalSets">
      <xs:selector xpath="parameterset|benchmark|fileset|substituteset" />
      <xs:field xpath="@name" />
    </xs:unique>
    <xs:unique name="globalPatternsets">
      <xs:selector xpath="patternset" />
      <xs:field xpath="@name" />
    </xs:unique>
  </xs:element>
</xs:schema>
